.albom {
  padding: 120px 0;
  max-width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1138px;
  width: 90%;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  .tabs {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    .tab {
      margin-right: 10px;
      margin-bottom: 15px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        button {
          background: transparent;
          border: 1px solid #2dbba4;
          color: #2dbba4;
        }
      }
    }
  }

  .slider {
    width: 100%;
    background: url("https://cdn.hovia.com/app/uploads/Green-Carrot-Cake-Baking-Wallpaper-Mural-Plain.jpg")
      center no-repeat;
    background-size: cover;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    // padding: 0 50px;
    box-sizing: border-box;
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
    .mainSlider {
      z-index: 10;
      position: relative;
    }
    .loader {
      position: absolute;
      z-index: 5;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.slickButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  color: #fff;
  border: none;
  outline: none;
  background: rgba($color: #2dbba4, $alpha: 0.4);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s;
  &:hover {
    background: rgba($color: #2dbba4, $alpha: 0.9);
  }
  &.left {
    left: 25px;
  }
  &.right {
    right: 25px;
  }
}
